In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("FoodBalanceSheets.csv", encoding="latin-1")

In [13]:
df.head(10)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73

In [40]:
grouped = df.groupby('Element')['Y2017'].sum()

# Get the sum of 'Processing' in 2017
sum_processing_2017 = grouped['Processing']

print("Total sum of Processing in 2017:", sum_processing_2017)

Total sum of Processing in 2017: 292836.0

In [18]:
correlations = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corr()

# Find the year with the least correlation
least_correlated_year = correlations['Element Code'].idxmin()[1:]

print(least_correlated_year)

2016

In [20]:
area_sums = df.groupby('Area')['Y2017'].sum()

# Sort the sums in ascending order
sorted_sums = area_sums.sort_values()

# Get the 7th row (index position 6) from the sorted sums
seventh_lowest_area = sorted_sums.iloc[6]

print(seventh_lowest_area)
area_name = df.loc[df['Y2017'].groupby(df['Area']).transform('sum') == seventh_lowest_area, 'Area'].iloc[0]

print(area_name)

19102.77
Guinea-Bissau

In [23]:
wine_production_2015 = df[df['Item'] == 'Wine']['Y2015'].sum()
wine_production_2018 = df[df['Item'] == 'Wine']['Y2018'].sum()

print("Total Wine production in 2015:", wine_production_2015)
print("Total Wine production in 2018:", wine_production_2018)

Total Wine production in 2015: 4251.8099999999995
Total Wine production in 2018: 4039.3199999999997

In [24]:
unique_values = df['Area'].unique()
print(unique_values)

['Algeria' 'Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Cabo Verde'
 'Cameroon' 'Central African Republic' 'Chad' 'Comoros' 'Congo'
 "Côte d'Ivoire" 'Djibouti' 'Egypt' 'Eswatini' 'Ethiopia' 'Ethiopia PDR'
 'Gabon' 'Gambia' 'Ghana' 'Guinea' 'Guinea-Bissau' 'Kenya' 'Lesotho'
 'Liberia' 'Madagascar' 'Malawi' 'Mali' 'Mauritania' 'Mauritius' 'Morocco'
 'Mozambique' 'Namibia' 'Niger' 'Nigeria' 'Rwanda' 'Sao Tome and Principe'
 'Senegal' 'Seychelles' 'Sierra Leone' 'South Africa' 'Sudan'
 'Sudan (former)' 'Togo' 'Tunisia' 'Uganda' 'United Republic of Tanzania'
 'Zambia' 'Zimbabwe']

In [25]:
num_unique_countries = df['Area'].nunique()
print("Number of unique countries:", num_unique_countries)

Number of unique countries: 49

In [30]:
stock_variation = df[df['Element'] == 'Stock Variation'][['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()
year_highest_stock_variation = stock_variation.idxmax()
print(year_highest_stock_variation)

Y2014

In [34]:
df_grouped = df[['Y2017', 'Area']].groupby('Area').sum()
area_highest_sum = df_grouped['Y2017'].idxmax()

print("Area with the highest sum in 2017:", area_highest_sum)

Area with the highest sum in 2017: Nigeria

In [35]:
mean_y2017 = df['Y2017'].mean()
std_y2017 = df['Y2017'].std()

mean_y2017 = round(mean_y2017, 2)  # Round to 2 decimal places
std_y2017 = round(std_y2017, 2)  # Round to 2 decimal places

print("Mean Y2017:", mean_y2017)
print("Standard Deviation Y2017:", std_y2017)

Mean Y2017: 140.92
Standard Deviation Y2017: 1671.86

In [37]:
total_missing = df['Y2014'].isnull().sum()
total_rows = df.shape[0]

# Calculating the percentage of missing data
percentage_missing = (total_missing / total_rows) * 100

# Rounding the percentage to 3 decimal places
percentage_missing = round(percentage_missing, 3)

print("Total missing data:", total_missing)
print("Percentage of missing data:", percentage_missing, "%")

Total missing data: 1589
Percentage of missing data: 2.607 %

In [42]:
madagascar_2015 = df[(df['Area'] == 'Madagascar') & df['Y2015'].notnull()]

# Calculate the total Protein supply quantity
total_protein_2015 = madagascar_2015[df['Element'] == 'Protein supply quantity (g/capita/day)']['Y2015'].sum()

print("Total Protein supply quantity in Madagascar in 2015:", total_protein_2015)

Total Protein supply quantity in Madagascar in 2015: 173.04999999999998

<ipython-input-42-d9ae1f2ea7dd>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  total_protein_2015 = madagascar_2015[df['Element'] == 'Protein supply quantity (g/capita/day)']['Y2015'].sum()